<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ripple Wallet Generator</title>
      <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="bit-bg">
  <p class="receive"><%= address %></p>
  <p class="receive2 rotate"><%= address %></p>
  <p class="send rotate"><%= secret %></p>
  <div id="qrcode1"></div>
  <div id="qrcode2"></div>
  <div id="qrcode3"></div>
</div>
<button class="button-lg" id="generate">Generate</button>
<button class="button-lg" id="clear">Clear</button>

  <script src='/js/jquery.min.js'></script>
<script src='/js/qrcode.min.js'></script>

    <script src="/../js/index.js"></script>

</body>
</html>
