<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Ripple Wallet Generator</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="container">
      <div class="bit-bg">
        <div class="receive">
          <span><%= address %></span>
        </div>
        <div class="receive2 rotate">
          <span><%= address %></span>
        </div>
        <div class="send rotate">
          <span><%= secret %></span>
        </div>
        <div id="qrcode1"></div>
        <div id="qrcode2"></div>
        <div id="qrcode3"></div>
      </div> <!-- bit-bg -->
      <div class="button-wrapper">
        <button class="button-lg" id="generate">Generate</button>
        <button class="button-lg" id="clear">Clear</button>
      </div> <!-- button-wrapper -->
    </div> <!-- container -->

    <script src='/js/jquery.min.js'></script>
    <script src='/js/qrcode.min.js'></script>
    <script src="/../js/index.js"></script>
  </body>
</html>
